ul.nav {
  .btn {
    padding: 0;
    margin-bottom: 0;
    font-weight: bold;

  }
}

.transfers_history {
  h2, h3 {
    text-align: center;
  }
  th {
    text-align: center;
  }
  td.amount {
    text-align: right;
  }
}