%h2 How to use the CSV converter (video) :

.embedded_video.top.text-center
  %iframe(width="853" height="480" src="http://www.youtube.com/embed/VXK1WeFaBoI?vq=hd720" frameborder="0" allowfullscreen)
