%h1 Listing csv_files

%table
  %tr
    %th Name
    %th Download
    %th
    %th

  - @csv_files.each do |csv_file|
    %tr
      %td=link_to csv_file.name, csv_file
      %td= link_to "Download", file_csv_file_path(csv_file), class: 'btn btn-mini'
      %td= link_to 'Edit', edit_csv_file_path(csv_file)
      %td= link_to 'Destroy', csv_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Csv file', new_csv_file_path
